<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/js-cookie/latest/js.cookie.min.js"></script>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
            box-sizing: border-box;
        }

        #container {
            width: 1024px;
            margin: 0 auto;
        }

        .logo {
            padding: 10px
        }

        #content {
            overflow: hidden;
        }

        #content>div {
            float: left;
        }

        #cleft {
            width: 20%;
        }

        #cright {
            width: 80%;
        }
    </style>
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="logo">
                <img src="/img/logo.png" alt="">
                <span>随堂问卷</span>
            </div>
            <div>
                {{papers.title}}
            </div>
            <el-card style="margin:5px" v-for="(item,index) in papers.content" :key="'papers_'+index" :header="item.text">
                <el-radio-group v-model="papers.content[index].answer">
                    <el-radio v-for="(i,index) in papers.item" :key="'item_'+index" v-model="radio" :label="i.id">{{i.text}}</el-radio>
                </el-radio-group>	
            </el-card>
            <el-card style="margin-bottom:5px" header="其他建议">
                <el-input type="textarea" :row="2" placeholder="其他建议" v-model="papers.note"></el-input>
            </el-card>
        </div>
        <div>
            <el-button type='primary' @click="save">提交</el-button>
        </div>
    </div>
    <script>


        var rvm = new Vue({
            el: '#container',
            methods:{
                save:function(){
                    var _this = this
                    $.post('/papers/release/add',{
                        title:'',
                        paper_id : _this. paperId,
                        content : JSON.stringify(_this.papers.content),
                        item : JSON.stringify(_this.papers.item),
                        note : _this.papers.note,
                        title : _this.papers.title,
                        cuid:Cookies.getJSON('releaseInfo'+_this.paperId).cuid
                    },function(result){
                        location.reload()
                    })
                }
            },
            created:function(){
                var _this = this,
                id=this.paperId
                $.get('/papers/find',{id:id},function(result){
                    if(result.error!=0){ return }
                   _this.papers.title = result.data.title
                   _this.papers.content = JSON.parse(result.data.content)
                   
                })
                
            },
            data: {
                paperId : Cookies.getJSON('release_paper_id'),
                papers:{
					title:'',
                    content:[],
                    note:'',
					item:[
						{id:1,text:'优秀',val:5},
						{id:2,text:'良好',val:4},
						{id:3,text:'中等',val:3},
						{id:4,text:'很差',val:2},
                    ],
                }, 
            },
           
           
        })

    </script>
</body>

</html>